@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


::after, ::before{
  box-sizing: border-box;
}

#booking{
  font-family: 'Montserrat', sans-serif;
  background-image: url(images/img1.jpg);
  background-size: cover;
  background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(47, 103, 177, 0.6);
}

.section{
  position: relative;
  height: 100vh;
}

.section .section-center{
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

div{
  display: block;
}

body{
  font-size: 14px;
  line-height: 1.43;
  color: black;
}

.container{
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

#rev-message{
  color: #fff;
  font-weight: 700;
}

.brand-logo{
  font-weight: bold;
  margin-left: 90px;
}

.nav-wrapper{
  background-color:		#696969;
}